<%- include('../partials/header') %>

<form action="/skills" method="POST" autocomplete="off">
    <input type="text" name="skill" placeholder="add skill">
    <input type="text" name="proficiency" placeholder="add proficiency">
    <button type="submit">Save Skill</button>
</form>
